<div class="d-flex justify-content-around">
    <div>
        <h1>All Actoes</h1>
    </div>
    <div>
        <a href="/Admin/Actor/Create" class="btn btn-success">Create New</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col"> FirstName</th>
            <th scope="col"> LastName</th>
            <th scope="col"> Bio</th>
            <th scope="col"> ProfilePicture</th>
            <th scope="col"> News</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td class="font-weight-bolder">@item.FirstName</td>
                <td class="font-weight-bolder">@item.LastName</td>
                <td class="font-weight-bolder">@(item.Bio.Length > 20 ? item.Bio.Substring(0, 20) + "..." : item.Bio)</td>
                 <td class="font-weight-bolder"><img src="~/images/cast/@item.ProfilePicture" width="100px"/>  </td>
                <td class="font-weight-bolder">@(item.News.Length > 20 ? item.News.Substring(0, 20) + "..." : item.News)</td>
                <td>
                    <a href="/Admin/Actor/Edit?actorId=@item.Id" class="btn btn-warning">Edit</a>
                    <button class="btn btn-danger" onclick="confirmDelete(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete(actorId) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {

                window.location.href = "/Admin/Actor/Delete?actorId=" + actorId;
            }
        });
    }
</script>
